/* src/styles/Footer.css */
.footer {
	padding: 20px;
	text-align: center;
	background-color: #e60000; /* Red background */
	color: white;
}

.footer p {
	margin: 5px 0;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.footer {
		padding: 15px;
	}

	.footer p {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.footer {
		padding: 10px;
	}

	.footer p {
		font-size: 12px;
	}
}
