/* src/styles/Global.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--primary-color: #e60000; /* Red for branding */
	--secondary-color: #1a1a1a; /* Dark background */
	--text-color: #333; /* Dark text for readability */
	--light-bg: #f5f5f5; /* Light background for sections */
	--white: #ffffff;
	--gray: #666;
	--shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

body {
	color: var(--text-color);
	/* background-color: var(--light-bg); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--secondary-color);
}

a {
	text-decoration: none;
	color: inherit;
}
